<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <h1>Chat Room</h1>
    <input type="text" id="messageInput" placeholder="Type your message here...">
    <button id="sendButton">Send</button>
    <script>
    var socket = io();
    socket.on("msg",(data)=>{
        console.log(data);
        const messageElement = document.createElement("p"); //<p></p>
        messageElement.textContent = data; // <p>msg from serveur</p>
        document.body.append(messageElement); // <body><p>msg from serveur</p></body>
    })
     
    </script>
</body>
</html>